.harvest-tab {
  font-size: 19px;
  margin-right: 7.5px;
  border-radius: 12px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  border-top: 2px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  padding: 7.5px 20px 22.5px;
  box-shadow: rgb(0, 0, 0) 3.5px 3.5px 0px;
  cursor: pointer;

  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: Roboto;

  background-color: rgb(245, 241, 222);

  .harvest-button.MuiButton-root {
    font-size: 13px;
    line-height: 13px;
    padding: 3px 5px;
    margin-left: 5px;
    margin-top: -4px;

    span {
      margin: 0px;
    }
  }
}

.harvest-tab:not(.harvest-tab-selected) {
  margin-top: 10px;
}

.harvest-tab:not(.harvest-tab-selected):not(.harvest-tab-no-hover):hover {
  margin-top: 0px;
}

.harvest-tab.harvest-tab-active {
  background-color: rgb(255, 205, 141);
}

.harvest-tab.harvest-tab-selected {
  font-size: 24px;
}
